/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

.task-input-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-input-form input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-input-form button:hover {
    background-color: #45a049;
}

.task-list {
    margin-top: 20px;
}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center; /* Bu satırda dikey hizalamayı yaptık */
}

.task-list li span {
    flex-grow: 1; /* Bu, görev açıklamasının sola dayalı kalmasını sağlıyor */
}

/* Completed Task Style */
.task-list li.completed {
    background-color: #e0ffe0;
}

.task-list li.completed span {
    text-decoration: line-through;
}


/* Delete Button Style */
.task-list li .delete-button {
    background-color: #f44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px;
}

.task-list li .delete-button:hover {
    background-color: #e53935;
    transform: scale(1.05);
}

.task-list li .delete-button:active {
    background-color: #d32f2f;
    transform: scale(1);
}

.task-list li .delete-button:focus {
    outline: none;
    border: 2px solid #e53935;
}


/* Checkbox Style */
input[type="checkbox"] {
    margin-left: 10px; /* Checkbox ile metin arasında boşluk bırakılacak */
    order: 2; /* Bu, checkbox'ı sağa yerleştirir */
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .task-input-form input {
        width: 200px;
    }

    .task-input-form button {
        font-size: 0.9rem;
    }

    .task-list li {
        flex-direction: column; /* Daha küçük ekranlarda, görevleri alt alta yerleştirecek */
        align-items: flex-start; /* Checkbox ile görev açıklamasını üst üste hizalayacak */
    }
}
